body {
    font-family: Arial, sans-serif;
    background: #fce6c9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

#cuento {
  width: 50%;
  height: 80%;
  position: relative;
  overflow: hidden;
  border: 4px solid #d4a373;
  border-radius: 10px;
  background: white;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  padding: 50px;
  
}

.pagina {
  display: flex;
  flex-direction: column; /* Todo en columna */
  justify-content: space-between;
  height: 100%;
  gap: 20px; /* Espacio entre cada sección */
}

.pagina.active {
  display: block;
  animation: fadeIn 0.8s ease;
}

.texto {
  flex: 0 0 auto;
  font-size: 1.2em;
  margin-bottom: 35px;
}

.ilustracion {
  width: 100%;
  height: 60%;
  position: relative;
}
.centro{
  flex: 0 0 auto;
}
.fondo {
  position: relative;
}
.fondo img{
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}
.personaje {
  position: absolute;
  width: 120px;
  left: 50px;
  top: 50px;
  cursor: grab;
}

.imagenes {
  position: relative;
  width: 100%;
}

.imagenes img {
  position: relative;
  cursor: grab;
}

.opciones {
  flex: 0 0 auto;
  margin-top: 30px;
  text-align: center;
}

.opciones button {
  margin-right: 10px;
  padding: 10px;
  border: none;
  background: #ffd166;
  border-radius: 8px;
  cursor: pointer;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateX(30px); }
  to { opacity: 1; transform: translateX(0); }
}